@charset "UTF-8";

@font-face {
    font-family: 'GyeonggiBatang';
    src: url(../../resources/css/Title_Light.otf);
}
            
    
	body{
		padding-top : 90px;
		font-family: 'GyeonggiBatang';
	}
	
	.hrColor {
		border-color: #8DCCBF;
	}
	
	
